<div class="mainContainer">
    <div class="wrapper">
        <a>
            <i class="icon-close bi bi-person-lock"></i>
        </a>
        <div class="form-box login">

            <h2>{{"resetPassword" | translate}}</h2>
            <div class="input-box">
                <span class="icon"></span>
                <input required type="email" id="userEmail">
                <label>{{"email" | translate}}</label>
            </div>
            <div class="input-box">
                <span class="icon"></span>
                <input required type="text" minlength="8" maxlength="8" id="resetCode">
                <label>{{"resetCode" | translate}}</label>
            </div>
            <div class="input-box">
                <span class="icon"></span>
                <input required type="password" id="newPassword">
                <label>{{"newPassword" | translate}}</label>
            </div>
            <button class="btn" (click)="resetPassword()"> {{"resetPassword" | translate}}
                <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status">
                </div>
            </button>
        </div>
    </div>
</div>