body {
    background: transparent;


}
.mainContainer {
    display: flex;
    width:100%;
    height:100vh;
    justify-content: center;
    align-items: center;
}

.wrapper{
     
    max-width: 400px;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding: 20px;
    position: relative;
    background: transparent;
    background: #fefefe;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px #0c1421;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;

}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #0c1421;
    font-size: 2em;
    color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px; 
    cursor: pointer;
    z-index: 1;
     

}
.wrapper .form-box{
    width: 100%;
    padding: 20px;
    padding-top: 0px;
}
h2{
    font-size: 2em;
    text-align: center;
    color: #0c1421;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #0c1421;
    margin: 30px 0;

} 
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color:#0c1421;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label
{
    top:-5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color:#000000;
    font-weight: 600;
    padding: 0 35px 0 5px;

}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color:#0c1421;
    line-height: 57px;
    
    }
    .btn{
        width: 100%;
        height: 45px;
        background-color:#0c1421;
        border: none;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1em;
        font-weight: 500;
        color: #fefefe;
    }