<div class="mainContainer">
  <div class="wrapper">
    <a>
      <i class="icon-close bi bi-person-circle"></i>
    </a>
    <div class="form-box login">

      <h2>{{"forgotPassword" | translate}}</h2>
      <div class="input-box">
        <span class="icon"></span>
        <input required type="email" id="userEmail">

        <label>{{"email" | translate}}</label>
      </div>
      <button (click)="sendResetCode()" class="btn"> {{"sendEmail" | translate}}
        <div *ngIf="sending" class="spinner-border spinner-border-sm" role="status">
        </div>
      </button>
      <br/><br/>
      <p routerLink="/reset-password" class="ihavecode">{{'ihavepasswordresetcode' | translate}}</p>
    </div>
  </div>
</div>