.addQuestionMain {
    max-width: 600px;
    width: 100%;
    background-color: #fefefe;
    margin: auto;
    padding:20px;
    border-radius: 10px;
    border:1px solid black;
}
.answerItem {
    padding:8px 8px;
    margin:8px 0px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
}