<div class="addSequencedImageMain">
    <h3>Sıralı Resim Ekle</h3>
    <form>
        <div>
        <label class="form-label">Makale Seçin</label>
        <app-articles-helper (selectedArticleId)="getArticleId($event)"></app-articles-helper>
        </div><br/>
        <!--<label for="articleId" class="form-label">Makale Id</label>
        <div class="input-group mb-3">
            <input type="number" class="form-control" id="articleId" >
        </div>-->
        <label for="sequence" class="form-label">Sıra</label>
        <div class="input-group mb-3">
            <input type="number" class="form-control" id="sequence" >
        </div>
        <label for="imageFile" class="form-label">Resim</label>
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="imageFile" >
        </div>

        <label for="description" class="form-label">Açıklama</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="description">
        </div>

        <input type="hidden" class="form-control" id="imagePath" value="">

        <input type="hidden" class="form-control" id="showType" value="0">

    </form>
    <div style="text-align: right;">
        <button class="btn btn-sm btn-info" (click)="sendImage()" style="color:white;">Ekle</button>
    </div>
</div>