<section class="py-5 my-5">
    <div class="container">
        <div class="wrapper">
            <app-settings-navi></app-settings-navi>
            <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
                <div>
                    <h3>{{"PasswordSettings" | translate}}</h3>
                    <div class="form-box">
                        <form>
                            <div class="input-box">
                                <input type="password" id="oldPasswordInput"> <label>{{'oldPassword' | translate }}</label>
                            </div>

                            <div class="input-box">
                                <input type="password" id="newPasswordInput"> <label>{{'newPassword' | translate}}</label>
                            </div>

                            <div class="input-box">
                                <input type="password" id="newPasswordRetryInput"> <label>{{'newPasswordAgain' | translate}} </label>
                            </div>



                            <button class="btn" (click)="changePassword()">{{'update' | translate}}
                                <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            </button>
                            <button class="btn" (click)="cancel()">{{'Cancel' | translate}}</button>

                        </form>



                    </div>
                    <div>


                    </div>
                </div>



                <!-- <div class="tab-pane fade" id="application" role="tabpanel" aria-labelledby="application-tab">
                    <h3 class="mb-4">Ekran & Dil Ayarları</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="app-check">
                                    <label class="form-check-label" for="app-check">
                                    App check
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
                                    <label class="form-check-label" for="defaultCheck2">
                                    Lorem ipsum dolor sit.
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary">Update</button>
                        <button class="btn btn-light">Cancel</button>
                    </div>
                </div>-->

            </div>
        </div>
    </div>
</section>