<div class="mainIntro">
</div>

<div class="row">
    <nav class="navigation">
        <img class="logo"   src="/assets/logo1.png">
        <h1>SelfInfoSec</h1>
        
        <a class="btnLogin-popup" routerLink="/login"> {{'login' | translate}} </a>


        <a class="btnLogin-popup" routerLink="/register">{{'register' | translate}} </a>
    </nav>

    <div class="content">
  
        <div class="panel">
            <div class="imgWrapperMobile"> <img class="mobileImg" src="/assets/ss.png"/> </div>
            <br/>
            <div class="intro">
                <h1>{{"welcome" | translate}}</h1><br>
                <p>{{"intro" | translate}} <br><br> {{"intro2" | translate}}</p> <br><br>
                <a class="learn-more" type="button" routerLink="/articles">{{"learnMore" | translate}}</a>
            </div>
            <div class="imgWrapper"> <img class="pcimg" src="/assets/ss.png"/> </div>
        </div>


        <div class="aboutUs">
            <div class="misyon">
                <img style="width: 30%;" src="/assets/mission.png">
                <h1 style="color: #0c1421;">{{"mission" | translate}}</h1>
                <p style=" font-weight: 400; font-size: 16px; color:  #0c1421;" >{{"missionText" | translate}}
                </p>
            </div>

            <div class="vizyon">
                <img style="width: 30%;" src="/assets/vision.png">
                <h1 style="color: #0c1421;">{{"vision" | translate}}</h1>
                <p style="font-weight: 400; font-size: 16px; color:  #0c1421;"> {{"visionText" | translate}} </p>

            </div>

            <div class="joinUs">
                <img style="width: 30%; " src="/assets/success.png">
                <h1 style="color: #0c1421;" >{{"joinUs" | translate}}</h1>
                <p style=" font-weight: 400;font-size: 16px; color:  #0c1421;"> {{"joinUsText" | translate}}<br><br>{{"joinText2" | translate}}

            </div>


        </div>
        <br><br>
       




        </div>


    </div>
