<div >
    <div class="p-4">
        <div class="img-circle text-center mb-3">
            <img src="/assets/default-avatar.png" alt="Image" class="shadow">
        </div>
        <h4 *ngIf="userInfoModel" class="text-center">{{userInfoModel.userName}}</h4>
        <div *ngIf="!userInfoModel" class="text-center">
            <div  class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>

    </div>
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a routerLink="/profile">
            <i class="fa fa-home text-center mr-1"></i> 
            {{'accountInfo' | translate}}
        </a>
        <a routerLink="/progress">
            <i class="fa fa-key text-center mr-1"></i> 
            {{'progress' | translate}}
        </a>
    
    </div>
</div>