.list {
    list-style: none;
    padding:0px;
}
.listItem {
   /* background-image: linear-gradient(to right bottom, #c4c4c4, #b8b8b8, #adadad, #a1a1a1, #969696);*/
    padding:10px;
    margin-bottom: 10px;
    border-radius: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: #162938;
    background-color: #fefefe;
}

.listItem:last-child{
    margin-bottom: 0px;
}